.App {
  text-align: center;
  margin: 20px;
}

.tariff-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.tariff-card {
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  width: 300px;
  display: flex;
  flex-direction: column;
}

.tariff-item {

  padding: 10px;
  width: 100%;
  text-align: center;
}

.blue h3,
.green h3,
.red h3,
.gray h3 {
  color: white;
}

.blue {
  background-color: blue;
}

.green {
  background-color: green;
}

.red {
  background-color: red;
}

.gray {
  background-color: gray;
}

h3 {
  font-size: 1rem;
  margin: 0;
}

p {
  margin: 5px 0;
}

.light-blue h3,
.light-green h3,
.light-red h3,
.light-gray h3 {
  color: white;
}

.light-blue {
  background-color: lightblue;
}

.light-green {
  background-color: lightgreen;
}

.light-red {
  background-color: lightcoral;
}

.light-gray {
  background-color: lightgray;
}

.upperline {
  align-self: flex-start;
}

.underline {
  align-self: flex-end;
}